@import '../../../constants.scss';

.Card {
    position: relative;
    background-color: $whiteColor;
    border-radius: $cardBorderRadius;
    box-shadow: $cardBoxShadow;
    overflow: hidden;
    height: 100%;
    cursor: pointer;

    &:hover {
        transition: all 0.5 ease;
        box-shadow: $cardBoxShadowHover;
    }

    &__image {
        height: 70%;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__successColor {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: $xSmallPadding;
        color: $whiteColor;
        background-color: $cardImageOverlayColor;
    }

    &__content {
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;
        height: calc(30% - #{$mediumPadding * 2});
        padding: $mediumPadding;
        text-align: left;

        > * {
            width: 100%;
        }
    }
}