@import '../../constants.scss';

.ProductList {
    display: grid;
    grid-template-columns: $productCardWidth * 1.25;
    grid-auto-rows: 1fr;
    grid-gap: $mediumPadding;
    justify-content: center;
    padding: $mediumPadding;

    @include tablet {
        grid-template-columns: repeat(3, $productCardWidth);
    }

    @include desktop {
        grid-template-columns: repeat(4, $productCardWidth);
    }
}